// Table on outer container
// to allow for vertical centering
section.main {
    
    display: table;
    width: 100%;

}

.view.view__home {

    display: table-cell;
    vertical-align: middle;

}

// Hide all the other rotatingText things
ul.rotatingText li {

    display: none;
    &:first-child { display: inline-block; }

}