// No flexbox support in <= IE9
// Tables instead... 
.view.view__home {

    display: table;
    width: 100%;

    .centered {
        display: table-cell;
        vertical-align: middle;
    }

}

// Hide all the other rotatingText things
ul.rotatingText li {

    display: none;
    &:first-child { display: inline-block; }

}