html {
    
    height: 100%;

}

body {

    margin: 0;
    padding: 0;
    font-family: $lato;

    min-height: 100%;

}

h1, h2, h3, h4, h5, h6, p {

    margin: 0;
    padding: 0;

}

// Color Classes
.green  { color: $green; }
.salmon { color: $salmon; }
.blue   { color: $blue; }
.grey   { color: $grey; }
.orange { color: $orange; }