// Nav Bar
header.nav {

    @include box-sizing(border-box);

    position: absolute;
    top: 0; left: 0; right: 0;

    height: $header-height;
    line-height: $header-height - $header-padding * 2;
    padding: $header-padding;

    z-index: $z-index-nav;

}

// Logo
header.nav .logo img {

    @include box-sizing(content-box);

    border: none;
    outline: none; // Disable outline on IE9+

    width: auto;
    height: $logo-height;
    padding: (($header-height - $header-padding * 2 - $logo-height) / 2); // Remaining space in header / 2

}

// Container of Menu
header.nav .nav-list {

    display: inline-block;
    float: right;

}

// Navigation Menu
header.nav ul {

    float: right;
    list-style: none;

    margin: 0;
    padding: 0;

    li { display: inline-block; }
    li a {

        @include transition(color 0.3s ease-in-out);

        text-decoration: none;
        color: $grey;

        font-family: $lato;
        font-weight: lighter;
        font-size: 16px;
        text-transform: uppercase;

        margin: 0 10px;
        padding: 10px;

        &:hover { color: $white; }

    }

}

// Collapse Button
header.nav .nav-collapse-button {

    //display: inline-block; <-- Hidden when on desktop
    display: none;
    padding: 10px;

    span.bar {

        display: block;
        width: 16px;
        height: 2px;

        border-radius: 3px;
        background: $white;

        margin-bottom: 4px;

        &:last-child { margin-bottom: 0; }

    }

}