header.nav {

    @include box-sizing(border-box);

    position: absolute;
    top: 0; left: 0; right: 0;

    height: $headerHeight;
    line-height: $headerHeight - $headerPadding * 2;
    padding: $headerPadding;

    //!!!
    background: #333;

}

header.nav .logo img {

    @include box-sizing(content-box);

    width: auto;
    height: $logoHeight;
    padding: (($headerHeight - $headerPadding * 2 - $logoHeight) / 2); // Remaining space in header / 2

}

header.nav ul {

    float: right;
    list-style: none;

    li {

        display: inline-block;

    }

}