div.view {

    position: relative;

    height: $max-view-height;
    max-height: 100vh;

}

.view.view__home {
    
    @include display(flex);
    @include align-items(center);
    @include justify-content(center);
    
    background: url(../assets/images/unsplash-desk.jpg) center center;
    background-size: cover;

    // Centered part of view with h1
    // as title and span containing the
    // rotating text
    .centered {

        text-align: center;
        color: $white;
    
        h1 {
            font-size: 3em;
            text-transform: uppercase;
        }

        span {
            font-size: 1.5em;
            font-weight: 300;
        }

    }

    // Text that rotates on a 3d axis on
    // CSS animation (defined in partials/anims)
    // List of different text
    ul.rotatingText {

        list-style: none;
        display: inline-block;

        position: relative;
        top: 5px;
        width: 250px;
        height: 26px;

        overflow: hidden;
        white-space: nowrap;

        margin: 0;
        padding: 0;


        li {

            @include transform-origin(bottom);

            position: absolute;
            top: 0;

            @for $i from 1 through 4 {
                &:nth-child(#{$i}) {
                 
                    @include animation(rotatingText#{$i} 10s ease-in-out infinite);
                    @include backface-visibility(visible);
                    
                }
            }

        }

    }

    // Scroll down icon
    .scroll-down {

        position: absolute;
        bottom: 20px;
        left: 0; right: 0;

        text-align: center;
        text-transform: uppercase;
        text-decoration: none;

        font-size: 12px;
        color: $grey;

        &::after {

            @include animation(float 1s ease-in-out infinite);

            display: block;
            content: '';

            width: 0;
            height: 0;
            border-top: 5px solid $grey;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;

            margin: 0 auto;
            position: relative;

            top: 5px;

        }

    }

}