$header-height: 80px;
$header-padding: 20px;

$logo-width: auto;
$logo-height: 22px;

$max-view-height: 800px;

// Screen sizes
// (for responsive design)
$screen-large: 1170px;
$screen-medium: 960px;
$screen-small: 768px;
$screen-phone: 480px;

// Guideline margin to use
$default-margin: 60px;