<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <title>{{ page.title }}</title>

    <!-- Meta Tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Freelance web developer and hobbyist programmer">
    <meta name="keywords" content="web,programming,portfolio">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="css/main.css" />

</head>
<body>

    <section class="main">
        
        {{ content }}

    </section>

    <!-- Scripts -->
    <script src="js/jquery-1.11.2.min.js"></script>
    <script src="js/application.js"></script>

</body>
</html>